Repository ctbinh/qr-scanner-sparking: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "**/*.{tsx,js,jsx,ts}": ["eslint --fix"],
    "**/*.{ts,js,json,md,yml,yaml}": ["prettier --write"]
}

test
  .lintstagedrc.json
  src/screens/NumberPlateScanner/NumberPlateScanner.tsx
Due: eslint --fix, prettier --write

add message
  App.jsx
  package-lock.json
  package.json
  src/screens/QrScanner/QrScanner.tsx
  src/utils/DisplayMessage.ts
Due: eslint --fix, prettier --write

feat: add commitizen
  package-lock.json
  package.json
Due: prettier --write

refactor(test): test
  src/screens/QrScanner/QrScanner.tsx
Due: eslint --fix

fix
  package-lock.json
  package.json
Due: prettier --write

fix eslint
  App.jsx
  babel.config.js
  package-lock.json
  package.json
  src/screens/NumberPlateScanner/NumberPlateScanner.tsx
  src/screens/QrScanner/QrScanner.tsx
  src/utils/DisplayMessage.ts
  src/utils/sockjs.ts
  yarn.lock
Due: eslint --fix, prettier --write

using socket for triggering camera
  .env
  .eslintrc.js
  App.js
  App.jsx
  babel.config.js
  package-lock.json
  package.json
  src/hooks/useInterval.ts
  src/hooks/useRetryUntilResolved.ts
  src/interfaces/socket.ts
  src/screens/NumberPlateScanner/NumberPlateScanner.tsx
  src/screens/QrScanner/QrScanner.tsx
  src/services/api.ts
  src/utils/LocalStorage.ts
  src/utils/Stompjs.ts
  src/utils/sockjs.ts
  tsconfig.json
  types/env.d.ts
  yarn.lock
Due: eslint --fix, prettier --write

add notification
  .env
  .env.example
  .gitignore
  package-lock.json
  package.json
  src/components/Notification.tsx
  src/constant/notification.ts
  src/screens/NumberPlateScanner/NumberPlateScanner.tsx
  src/screens/QrScanner/QrScanner.tsx
  src/services/api.ts
  src/utils/Stompjs.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix logic scanning, fix notification
  src/components/Notification.tsx
  src/constant/notification.ts
  src/screens/NumberPlateScanner/NumberPlateScanner.tsx
  src/screens/QrScanner/QrScanner.tsx
  src/utils/Stompjs.ts
Due: eslint --fix, prettier --write

new status handle
  src/components/Notification.tsx
  src/constant/notification.ts
  src/screens/NumberPlateScanner/NumberPlateScanner.tsx
  src/screens/QrScanner/QrScanner.tsx
Due: eslint --fix, prettier --write

no msg
  src/screens/NumberPlateScanner/NumberPlateScanner.tsx
Due: eslint --fix

remove .env from gitignore
  .env
  .gitignore
Due: none

.
  .env.example
  .gitignore
  src/screens/NumberPlateScanner/NumberPlateScanner.tsx
  src/screens/QrScanner/QrScanner.tsx
  src/services/api.ts
  src/utils/Stompjs.ts
Due: eslint --fix, prettier --write

add setting tab
  App.js
  src/components/Button.tsx
  src/screens/NumberPlateScanner/NumberPlateScanner.tsx
  src/screens/Settings.tsx
Due: eslint --fix, prettier --write

no message
  App.js
Due: eslint --fix, prettier --write

fix
  src/constant/notification.ts
  src/screens/QrScanner/QrScanner.tsx
  src/utils/Stompjs.ts
Due: eslint --fix, prettier --write

.
  src/constant/notification.ts
  src/screens/QrScanner/QrScanner.tsx
Due: eslint --fix, prettier --write

.
  app.json
  eas.json
Due: prettier --write
